*{
  margin:0;
  padding: 0;
}

@font-face {font-family: CamphorPro-Light; src: url(//i01.appmifile.com/webfile/globalimg/products/pc/mi-note-10/CamphorPro-Light.woff) format("woff");}

@font-face {font-family: CamphorPro-Regular; src: url(//i01.appmifile.com/webfile/globalimg/products/pc/mi-note-10/CamphorPro-Regular.woff) format("woff");}

@font-face {font-family: CamphorPro-Bold; font-weight: 700; src: url(//i01.appmifile.com/webfile/globalimg/products/pc/mi-note-10/CamphorPro-Bold.woff) format("woff");}

@font-face { font-family: CamphorPro-Thin; src: url(//i01.appmifile.com/webfile/globalimg/products/pc/mi-note-10/CamphorPro-Thin.woff) format("woff"), url(//i01.appmifile.com/webfile/globalimg/products/pc/mi-note-10/CamphorPro-Thin.svg#CamphorPro-Thin) format("svg");}

@font-face {font-family: Camphor-Heavy; font-weight: 900; src: url(//i01.appmifile.com/webfile/globalimg/products/pc/mi-note-10/CamphorPro-Heavy.woff) format("woff"), url(//i01.appmifile.com/webfile/globalimg/products/pc/mi-note-10/CamphorPro-Heavy.svg#CamphorPro-Heavy) format("svg");}

@font-face { font-family: CamphorPro-Medium; src: url(//i01.appmifile.com/webfile/globalimg/products/pc/mi-note-10/CamphorPro-Medium.woff) format("woff"), url(//i01.appmifile.com/webfile/globalimg/products/pc/mi-note-10/CamphorPro-Medium.svg#CamphorPro-Medium) format("svg");}

@font-face {font-family: ProximaNova; font-style: normal; font-weight: 400; src: url(//s01.appmifile.com/css/fonts/proximanova/proxima-nova-regular.woff?p=) format("woff");}

.f-heavy {font-family: Camphor-Heavy, sans-serif; font-weight: 900;}
.f-regular {font-family: CamphorPro-Regular, sans-serif;}
.f-light {font-family: CamphorPro-Light, sans-serif;}
.f-bold {font-family: CamphorPro-Bold, sans-serif; font-weight: 700;}
.f-medium {font-family: CamphorPro-Medium, sans-serif;}
.f-thin {font-family: CamphorPro-Thin, sans-serif;}
.f-nova {font-family: ProximaNova, sans-serif;}

.overview-con {width: 100%;}
.overview-con .f12 {font-size: 0.046875rem;}
.overview-con .f14 {font-size: 0.054688rem;}
.overview-con .f16 {font-size: 0.0625rem;}
.overview-con .f18 {font-size: 0.070313rem;}
.overview-con .f20 {font-size: 0.078125rem;}
.overview-con .f22 {font-size: 0.085938rem;}
.overview-con .f24 {font-size: 0.09375rem;}
.overview-con .f26 {font-size: 0.101563rem;}
.overview-con .f28 {font-size: 0.109375rem;}
.overview-con .f30 {font-size: 0.117188rem;}
.overview-con .f32 {font-size: 0.125rem;}
.overview-con .f34 {font-size: 0.132813rem;}
.overview-con .f36 {font-size: 0.140625rem;}
.overview-con .f38 {font-size: 0.148438rem;}
.overview-con .f40 {font-size: 0.15625rem;}
.overview-con .f42 {font-size: 0.164063rem;}
.overview-con .f44 {font-size: 0.171875rem;}
.overview-con .f46 {font-size: 0.179688rem;}
.overview-con .f48 {font-size: 0.1875rem;}
.overview-con .f50 {font-size: 0.195313rem;}
.overview-con .f52 {font-size: 0.203125rem;}
.overview-con .f54 {font-size: 0.210938rem;}
.overview-con .f56 {font-size: 0.21875rem;}
.overview-con .f58 {font-size: 0.226563rem;}
.overview-con .f60 {font-size: 0.234375rem;}
.overview-con .f64 {font-size: 0.25rem;}
.overview-con .f66 {font-size: 0.257813rem;}
.overview-con .f68 {font-size: 0.265625rem;}
.overview-con .f70 {font-size: 0.273438rem;}
.overview-con .f72 {font-size: 0.28125rem;}
.overview-con .f76 {font-size: 0.296875rem;}
.overview-con .f78 {font-size: 0.304688rem;}
.overview-con .f80 {font-size: 0.3125rem;}
.overview-con .f82 {font-size: 0.320313rem;}
.overview-con .f86 {font-size: 0.335938rem;}
.overview-con .f88 {font-size: 0.34375rem;}
.overview-con .f90 {font-size: 0.351563rem;}
.overview-con .f98 {font-size: 0.382813rem;}
.overview-con .f100 {font-size: 0.390625rem;}
.overview-con .f106 {font-size: 0.414063rem;}
.overview-con .f108 {font-size: 0.421875rem;}
.overview-con .f110 {font-size: 0.429688rem;}
.overview-con .f114 {font-size: 0.445313rem;}
.overview-con .f116 {font-size: 0.453125rem;}
.overview-con .f120 {font-size: 0.46875rem;}
.overview-con .f128 {font-size: 0.5rem;}
.overview-con .f130 {font-size: 0.507813rem;}
.overview-con .f138 {font-size: 0.539063rem;}
.overview-con .f140 {font-size: 0.546875rem;}
.overview-con .f148 {font-size: 0.578125rem;}
.overview-con .f150 {font-size: 0.585938rem;}
.overview-con .f160 {font-size: 0.625rem;}
.overview-con .f200 {font-size: 0.78125rem;}

.overview-con .c383026 {color: #383026;}
.overview-con .c010000 {color: #010000;}
.overview-con .c000000 {color: #000;}
.overview-con .cffffff {color: #fff;}
.overview-con .cf4f1ea {color: #f4f1ea;}
.overview-con .c4a4338 {color: #4a4338;}
.overview-con .c955822 {color: #955822;}
.overview-con .cc8c6c0 {color: #c8c6c0;}

.overview-con .o5 {opacity: 0.5;}
.overview-con .o7 {opacity: 0.7;}
.overview-con .o8 {opacity: 0.8;}
.overview-con .f125 {font-size: 0.488281rem;line-height: 1;}

.overview-con .circle-text {
  align-items: center;
  background-color: #955822;
  border-radius: 0.117188rem;
  color: #f8e1bc;
  display: flex;
  font-size: 0.117188rem;
  height: 0.234375rem;
  justify-content: center;
  line-height: 1.1;
  margin-bottom: 0.039063rem;
  margin-left: 0.097656rem;
  padding: 0 0.078125rem;
}

.overview-con .section {
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  line-height: 1.2;
  margin-bottom: -1px;
  min-width: 4.789063rem;
  overflow: hidden;
  position: relative;
}

.hairlines .overview-con .section {
  margin-bottom: -0.5px;
}

.overview-con .section-01 {
  display: flex;
  flex-direction: column;
  height: 5.171875rem;
  padding: 1rem 0 0 1.550781rem;
  background-image: url('..//media/air-fryer_02.jpg');
}

.overview-con .section-01 .header-title {
  align-items: center;
  display: flex;
}

.overview-con .section-01 .size {
  border: 0.015625rem solid #383026;
  border-radius: 0.015625rem;
  line-height: 1;
  margin-left: 0.15625rem;
  padding: 0.058594rem 0.097656rem 0.039063rem;
}

.overview-con .section-01 .f30,
.overview-con .section-01 .sub-title {
  margin-top: 0.15625rem;
}

.overview-con .section-01 .price {
  margin-top: 0.195313rem;
}

.overview-con .section-02 {
  background-color: #efeae1;
  padding: 0.410156rem 0.8125rem 0.417969rem;
}
.overview-con .section-02 .feature-list {
  align-items: stretch;
  border-bottom: 0.011719rem dashed #cfad9c;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0.09375rem;
}
.overview-con .section-02 .feature-item {
  align-items: center;
  border-bottom: 0.007813rem dashed #cfad9c;
  border-right: 0.007813rem dashed #cfad9c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.78125rem;
  padding: 0 0.289063rem;
  text-align: center;
  width: 1.609375rem;
}
.overview-con .section-02 .feature-item:first-child,
.overview-con .section-02 .feature-item:nth-child(5) {
  padding-left: 0.046875rem;
}
.overview-con .section-02 .feature-item:nth-child(4),
.overview-con .section-02 .feature-item:nth-child(8) {
  border-right: unset;
  padding-right: 0.046875rem;
}
.overview-con .section-02 .feature-item:nth-child(n + 5) {
  border-bottom: unset;
}
.overview-con .section-02 .feature-item .f24 {
  margin-top: 0.046875rem;
}
.overview-con .section-02 .f24.f-thin {
  margin-top: 0.117188rem;
  text-align: center;
  width: 100%;
}
.overview-con .section-03 {
  display: flex;
  flex-direction: column;
  height: 4.6875rem;
  padding: 1rem 0 0 1.023438rem;
}
.overview-con .section-03 > .xm-text {
  width: 3.90625rem;
}
.overview-con .section-03 > .f30 {
  margin-top: 0.195313rem;
}
.overview-con .section-03 .icon-list {
  display: flex;
  margin-top: 0.390625rem;
}
.overview-con .section-03 .icon-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 0.492188rem;
  text-align: center;
  width: 0.625rem;
}
.overview-con .section-03 .image {
  height: 0.417969rem;
  margin-bottom: 0.078125rem;
  width: 0.414063rem;
}
.overview-con .section-04 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 5.703125rem;
  padding-top: 0.585938rem;
}
.overview-con .section-04 > .xm-text {
  text-align: center;
  width: 8.367188rem;
}
.overview-con .section-04 .f30 {
  margin-top: 0.15625rem;
}
.overview-con .section-05 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 11.609375rem;
  padding-top: 0.585938rem;
}
.overview-con .section-05 .special-title {
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 1.1;
  text-align: center;
  width: 8.367188rem;
}
.overview-con .section-05 .sub-title-1 {
  margin-top: 0.136719rem;
}
.overview-con .section-05 .foot-text-1 {
  left: 3.867188rem;
  position: absolute;
  top: 2.195313rem;
  width: 1.589844rem;
}
.overview-con .section-05 .foot-text-1 .f-light {
  margin-top: 0.078125rem;
}
.overview-con .section-05 .foot-text-2 {
  left: 4.730469rem;
  position: absolute;
  top: 3.777344rem;
  width: 1.992188rem;
}
.overview-con .section-05 .foot-text-2 .f-light {
  margin-top: 0.078125rem;
}
.overview-con .section-05 .foot-text-3 {
  left: 3.167969rem;
  position: absolute;
  top: 5.910156rem;
  width: 1.84375rem;
}
.overview-con .section-05 .foot-text-3 .f-light {
  margin-top: 0.078125rem;
}
.overview-con .section-05 .temperature-text-4 {
  position: absolute;
  text-align: center;
  top: 7.683594rem;
}
.overview-con .section-05 .feature-list {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 0.371094rem;
  position: absolute;
  top: 10.195313rem;
}
.overview-con .section-05 .feature-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  text-align: center;
  width: 1.21875rem;
}
.overview-con .section-05 .f24 {
  bottom: 0.574219rem;
  position: absolute;
  text-align: center;
  width: 8.367188rem;
}
.overview-con .section-06 {
  display: flex;
  flex-direction: column;
  height: 5.140625rem;
  padding: 1.574219rem 0 0 0.867188rem;
}
.overview-con .section-06 > .xm-text {
  width: 3.726563rem;
}
.overview-con .section-06 > .f30 {
  margin-top: 0.195313rem;
}
.overview-con .section-06 .text-list {
  display: flex;
  margin-top: 0.320313rem;
  text-align: center;
}
.overview-con .section-06 .text-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  margin-right: 0.296875rem;
  width: 0.726563rem;
}
.overview-con .section-table {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 6.152344rem;
  padding: 0.585938rem 0.816406rem 0;
}
.overview-con .section-table > .xm-text {
  text-align: center;
  width: 100%;
}
.overview-con .section-table .f30 {
  margin-top: 0.15625rem;
}
.overview-con .section-table .cea7149 {
  color: #ea7149;
}
.overview-con .section-table .pos {
  position: absolute;
  text-align: center;
}
.overview-con .section-table .pos-1 {
  left: 3.1rem;
  top: 1.5rem;

}
.overview-con .section-table .pos-2 {
  left: 2.414063rem;
  top: 1.925781rem;
  width: 1.101563rem;
}
.overview-con .section-table .pos-3 {
  left: 4.5rem;
  top: 4.308594rem;
}
.overview-con .section-table .heat-list {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 4.972656rem;
}
.overview-con .section-table .heat-list .f34 {
  box-sizing: border-box;
  text-align: center;
  width: 1.640625rem;
}
.overview-con .section-table .heat-list .f34:first-child {
  padding-left: 0.273438rem;
}
.overview-con .section-table .f24 {
  position: absolute;
  top: 5.367188rem;
  width: 8.367188rem;
}
.overview-con .section-07 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 7.378906rem;
  padding-top: 0.585938rem;
  text-align: center;
}
.overview-con .section-07 > .xm-text {
  width: 8.367188rem;
}
.overview-con .section-07 > .f30 {
  margin-top: 0.132813rem;
}
.overview-con .section-07 .image-google {
  height: 0.386719rem;
  margin-right: 0.070313rem;
  margin-top: 0.210938rem;
  width: 1.144531rem;
}
.overview-con .section-07 .image-alexa {
  height: 0.390625rem;
  margin-left: 0.070313rem;
  margin-top: 0.210938rem;
  width: 0.960938rem;
}
.overview-con .section-07 .f24 {
  bottom: 0.433594rem;
  position: absolute;
}
.overview-con .section-08 {
  height: 5.171875rem;
  padding: 1.355469rem 0 0 0.816406rem;
}
.overview-con .section-08 > .xm-text {
  width: 4.753906rem;
}
.overview-con .section-08 .f30 {
  margin-top: 0.1875rem;
}
.overview-con .section-09,
.overview-con .section-11 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 6.785156rem;
  padding: 0.617188rem;
  text-align: center;
}
.overview-con .section-09 > .xm-text,
.overview-con .section-11 > .xm-text {
  width: 8.367188rem;
}
.overview-con .section-09 .f30,
.overview-con .section-11 .f30 {
  margin-top: 0.1875rem;
}
.overview-con .section-10 {
  display: flex;
  flex-direction: column;
  height: 4.578125rem;
  padding: 1.472656rem 0 0 0.816406rem;
}
.overview-con .section-10 > .xm-text {
  width: 4.195313rem;
}
.overview-con .section-10 .f30 {
  margin-top: 0.1875rem;
}
.overview-con .section-11 {
  height: 6.148438rem;
}
.overview-con .section-12 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 6.160156rem;
  padding-top: 0.585938rem;
  text-align: center;
}
.overview-con .section-12 > .xm-text {
  width: 8.367188rem;
}
.overview-con .section-12 > .f30 {
  margin-top: 0.1875rem;
}
.overview-con .section-12 .feature-list {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-top: 0.351563rem;
}
.overview-con .section-12 .feature-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  margin: 0 0.0625rem;
  width: 0.863281rem;
}
.overview-con .section-12 .f110 {
  line-height: 1;
}
.overview-con .section-13 {
  align-items: center;
  flex-direction: column;
  height: 5.972656rem;
  padding-top: 0.585938rem;
  text-align: center;
}
.overview-con .section-13 > .xm-text {
  width: 8.367188rem;
}
.overview-con .section-13 > .f30 {
  margin-top: 0.1875rem;
}
.overview-con .section-13 .f24 {
  left: 0.816406rem;
  position: absolute;
  text-align: left;
  width: 2.871094rem;
}
.overview-con .section-13 .abs-text-1 {
  top: 3.242188rem;
}
.overview-con .section-13 .abs-text-2 {
  top: 3.57rem;
}
.overview-con .section-13 .abs-text-3 {
  top: 3.984375rem;
}
.overview-con .section-13 .abs-text-4 {
  top: 4.296875rem;
}
.overview-con .section-13 .abs-text-5 {
  top: 4.609375rem;
}
.overview-con .section-13 .abs-text-6 {
  top: 4.960938rem;
}
.overview-con .section-13 .abs-text-7 {
  top: 5.273438rem;
}
.overview-con .section-14 {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 0.382813rem 0.121094rem;
}
.overview-con .section-14 .img-box,
.overview-con .section-14 .text-box {
  height: 3.105469rem;
  width: 50%;
}
.overview-con .section-14 .img-box .image {
  height: 100%;
  width: 100%;
}
.overview-con .section-14 .text-box {
  align-items: center;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.overview-con .section-14 .f30 {
  margin-top: 0.132813rem;
}
.overview-con .section-14 .text-box .xm-text {
  width: 3.140625rem;
}
.overview-con .section-14 .border-top-left {
  border-top-left-radius: 0.164063rem;
}
.overview-con .section-14 .border-top-right {
  border-top-right-radius: 0.164063rem;
}
.overview-con .section-14 .border-bottom-left {
  border-bottom-left-radius: 0.164063rem;
}
.overview-con .section-14 .border-bottom-right {
  border-bottom-right-radius: 0.164063rem;
}
.overview-con .section-foot {
  background-color: #fff;
  padding: 0.445313rem 0.816406rem 0.355469rem;
  text-align: center;
}
.overview-con .section-foot .xm-text {
  width: 100%;
}

.xm-text {
  display: inline-block;
  white-space: break-spaces;
}

li {
  list-style: none;
}

li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  display: inline-block;
  font-size: 16px;
}

/****************************  *Mobile*  *************************/

@media screen and (max-width: 900px){
  
  main{
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  .overview-con .section-01{
  background-image: url('../media/01_01.jpg');
  }

  .overview-con .f88 {
    font-size: 0.34375rem;
    text-align: center;
    width: 4.6rem;
  }








}